* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mainpage {
    display: grid;
    grid-template-columns: min(250px) 1fr;
    height: 100vh;
}

h2, h3 {
    display: grid;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

img {
    width: 25px;
    height: 25px;
    color: white;
    filter: invert(100%);
}

.textrow{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding-left: 30px;
    padding-top: 15px;
}

.side {
    height: 100vh;
    background-color: rgba(37, 146, 209, 0.97);
}


.uppergrid, .main{
    display: grid;
    grid-template-rows: 100px 1fr;
}

input {
    background-color: rgb(226, 232, 240);
    border: 1px solid rgb(226, 232, 240);
    border-radius: 10px;
    height: 20px;
    width: 80%;
}

.nav {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr auto;
    grid-template-rows: 50px;
    align-items: center;
    padding-right: 80px;
    padding-left: 40px;
}

#bell, #search{
    filter: invert(0%);
    width: 1.5rem;
    height: 1.5rem;
}

.firsthead {
    display: grid;
    grid-template-columns: 5px 1fr;
    align-items: center;
    gap: 50px;
}

.secondhead {
    display: grid;
    align-items: center;
    grid-template-columns: 50px 50px auto;
}


.nav-two {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.thridhead {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    padding-left: 40px;

}

.span {
    grid-column: 2;
    align-items: center;
}

button {
    height: 35px;
    width: 80px;
    background-color: rgba(37, 146, 209, 0.97);
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    border: 1px solid rgba(37, 146, 209, 0.97);
    border-radius: 50px;
}

.fourthhead {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    padding-top: 5px;
}


main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.maincards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
}

.item1 {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

.item2 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
}

.item3 {
    grid-column: 1;
    grid-row: 3;
    display: grid;

}

.item4 {
    grid-column: 2;
    grid-row: 3;
    display: grid;

}

.item5 {
    grid-column: 1;
    grid-row: 4;
    display: grid;

}

.item6 {
    grid-column: 2;
    grid-row: 4;
    display: grid;

}

.maincards {
    row-gap: 10px;
    column-gap: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    font-size: 0.9rem;
    font-weight: 400;
}

.item {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}


.mainside {
    display: grid;
    grid-template-rows: 50px 1fr 30px 1fr;
    margin-bottom: 50px;
    row-gap: 10px;
    margin-right: 50px;
}

h4 {
    font-size: 0.8rem;
}

.maintitle {
    align-content: center;
}

.sideitem {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.mainsideone {
    font-size: 0.7rem;
    display: grid;
    padding: 20px;
}

.mainsidetwo {
    display: grid;
    grid-template-columns: 50px 3fr;
    padding: 20px;
}

.maincardtitle {
    color: black;
}

.mainimg {
    align-content: end;
}